* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    font-size:16px;
}

@font-face {
    font-family: 'Butler';
    src: local('Butler Light'), local('Butler-Light'), url('fonts/butler/Butlerlight.woff2') format('woff2'), url('fonts/butler/Butlerlight.woff') format('woff'), url('fonts/butler/Butlerlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

.body-class{
    background-color: white;
}

.main-style{
    max-width: 1440px;
    margin: 0 auto;
}

.promo{
    height:100vw;
    position: relative;
}

.promo-box{
    z-index: 1;
    background-color: white;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    text-align: center;
    font-size: 5.5rem;
    padding: 1.16em 0.7em;
    white-space: nowrap;
}

.promo-title{
    font-family: "Butler",serif;
    font-weight: 300;
    font-size: 1em;
    line-height: 1.2em;
    color: black;
    transform:translate(0%,16%);
}

.promo-description{
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 0.21em;
    line-height: 1.2em;
    color: black;
    margin-bottom: 1.2em;
    transform: translate(-3%,150%);
}

.back-image{
    position: absolute;
    top:50%;
    left: 50%;
    transform:translate(-50%,-50%);
    width:90%;
    max-width: 1065px;
}
