@font-face {
    font-family: "Butler";
    font-style: normal;
    font-weight: 300;
    src: local("Butler"), url("fonts/butler/Butlerlight.woff2") format("woff2"), url("fonts/butler/Butlerlight.woff") format("woff");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.promo {
    /*background-image: url("img/inside-weather-Uxqlfigh6oE-unsplash 1.jpg");*/
    height: 630px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    max-width: 1065px;
    margin: 135px auto 0;
}

.promo-box {
    background-color: white;
    width: 557px;
    margin: 137px auto;
    /*padding-top: 120px;*/
    height: 355px;
    position: relative;
    top:136px;
}

.promo-title {
    font-family: "Butler";
    font-weight: 400;
    font-size: 87px;
    line-height: 104px;
    text-align: center;
    margin-bottom: 18px;
    color: black;
    padding-top: 120px;
}

.promo-description {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 21px;
    color: black;
    width: 260px;
    padding-top: 2px;
    margin-left: 187px;
}

.main-style{
    width: 1440px;
    margin: 0 auto;
}

.back-image{
    position: absolute;
    top: 135px;
    left: 227px;
    z-index: -1;
}
