* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Butler';
    src: local('Butler Light'), local('Butler-Light'), url('fonts/butler/Butlerlight.woff2') format('woff2'), url('fonts/butler/Butlerlight.woff') format('woff'), url('fonts/butler/Butlerlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: local('Butler UltraLight'), local('Butler-UltraLight'), url('fonts/butler/Butlerultralight.woff2') format('woff2'), url('fonts/butler/Butlerultralight.woff') format('woff'), url('fonts/butler/Butlerultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: local('Butler Bold'), local('Butler-Bold'), url('fonts/butler/Butlerbold.woff2') format('woff2'), url('fonts/butler/Butlerbold.woff') format('woff'), url('fonts/butler/Butlerbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}

:root {
    font-size: 16px;
    line-height: 1.2;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.body-class {
    background-color: white;
}

.clear {
    clear: both;
}

.main-style {
    max-width: 1440px;
    margin: 0 auto;
}

.section-style {
    height: 100vh;
    position: relative;
    min-height: 600px;
}

.promo-box {
    z-index: 1;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 5.5rem;
    padding: 1.3em 0.7em;
    white-space: nowrap;
}

@media (max-width: 1065px) {
    .promo-box {
        transform: none;
        width: 100%;
        top:0;
        left:0;
        padding: 14.5rem 0.7em 2.8rem;
    }
}

.promo-title {
    font-family: "Butler", Times, "Times New Roman", serif;
    font-weight: 300;
    font-size: 1em;
    color: black;
}

@media (max-width: 1065px) {
    .promo-title {
        font-size: 4.375rem;
    }
}

.promo-description {
    color: black;
    margin-bottom: -1.2em;
    margin-top: 1em;
}

@media (max-width: 1065px) {
    .promo-description {
        margin-top: 2.6rem;
    }
}

.back-image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1065px;
}

@media (max-width: 1065px) {
    .back-image {
        transform: none;
        top: 16.7rem;
        left: 0;
        overflow: hidden;
    }
}

/*.grey{
    font-family: "Butler", serif;
    font-weight: 300;
    font-size: 1.1rem;
    color: #8C8888;
    letter-spacing: .1px;

}*/

.left-katya {
    float: left;
    padding-left: 148px;
    width: 50%;
    position: relative;
}

@media (max-width: 1065px) {
    .left-katya {
        padding-left:0;
        width: 100%;
        display: flex;
        flex-wrap:wrap;
        flex-direction: column-reverse;
    }
}

.biography {
    position: absolute;
    right: 2rem;
    bottom: -16.5%;
    transform: rotate(-90deg);
}

@media (max-width: 1065px) {
    .b-flex {
        padding-top: 25rem;
    }

    .biography {
        float: right;
        position: static;
        transform: none;
    }

    .clear {
        padding-top: 40rem;
    }
}

.name-katya {
    font-family: "Butler", Times, "Times New Roman", serif;
    font-weight: 300;
    font-size: 5.4rem;
    padding-top: 16.5rem;
}

.name-katya2 {
    display: none;
}

@media (max-width: 1065px) {
    .name-katya {
       display: none;
    }
    .name-katya2 {
        font-family: "Butler", Times, "Times New Roman", serif;
        font-weight: 300;
        font-size: 5.4rem;
        display: block;
    }

    .rectangle {
        display: none;
    }
}

.prof-font {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 1.1rem;
    padding-top: 2.75rem;
    padding-bottom: 4rem;
}

@media (max-width: 1065px) {
    .prof-font {
        padding: 0;
        transform: translate(0,-500%);
    }
}

.rectangle {
    width: 14px;
    height: 4px;
    background: #000000;
}

.bquote {
    max-width: 415px;
    padding-top: 1.75rem;
    font-size: 2rem;
    font-family: "Butler", Times, "Times New Roman", serif;
    font-weight: 200;
}

@media (max-width: 1065px) {
    .bquote {
        max-width: 100%;
    }
}

.image-katya {
    float: left;
    padding-top: 4.8rem;
    padding-left: 133px;
    max-width: 50%;
    overflow: hidden;
}

@media (max-width: 1065px) {
    .image-katya {
        position: absolute;
        width: 100vw;
        padding: 0;
        height: 353px;
        top: 60rem;
    }
}

/*.plus-padding {
    padding-left: 18px;
}*/

.article-conteiner {
    display: flex;
    justify-content: flex-start;
    gap: 111px;
    padding-top: 10.6rem;
}

.article-con2 {
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-between;
}

.des-style {
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    flex-basis: 100%;
    padding-right: 45%;
    padding-top: 1rem;
}

.roboto500 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
}

.roboto700 {
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 1.1rem;
}

.jess {
    padding-left: 178px;
    padding-top: 1.2rem;
}

.des-img {
    max-width: 100%;
}

.otstup {
    padding-top: 1.2rem;
}

.UpperCase {
    text-transform: uppercase;
    font-size: 1rem;
}

.otstup2 {
    padding-top: 30rem;
}

.flex-cont {
    display: flex;
    padding-top: 2.6rem;
    justify-content: center;
}

.rotate {
    transform: rotate(-90deg) translate(0,7rem);
}

.grid-test {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap:25px;
}

.rotate-otst {
    padding-bottom: 12rem;
}

.test-h {
    padding-top: 18rem;
    padding-left: 11rem;
}

.bquote2 {
    max-width: 206px;
    padding-top: 1.75rem;
    font-size: 2rem;
    font-family: "Butler", Times, "Times New Roman", serif;
    font-weight: 200;
    text-align: center;
}

.right-test {
    justify-self: center;
    padding-top: 0.7rem;
    padding-left: 2.7rem;
}

.a-container {
    padding-top: 3rem;
}

.link {
    text-decoration: none;
    color: black;
    font-size: 1rem;
    font-weight: 400;
}

.b-link {
    font-weight: 700;
}

.img-mini {
    padding-top: 2rem;
}

.grid-container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    gap:28px;
}

.strong-p{
    writing-mode:vertical-rl;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 18px;
    transform: rotate(-180deg);
    padding-right: 472px;
}

.Strenght{
    font-family: "Butler",serif;
    font-weight: 300;
    font-size: 92px;
    transform:translate(12%,22%);
}

.h-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-bottom: 51px;
    padding-top: 29rem;
}

.font-li{
    font-family: "Butler",serif;
    font-weight: 300;
    font-size: 34px;
    padding-left: 142px;
    padding-right: 243px;
    padding-top: 27px;
}

.ul-type{
    list-style-type: none;
}
