@font-face {
    font-family: 'Butler';
    src: local('Butler Light'), local('Butler-Light'), url('fonts/butler/Butlerlight.woff2') format('woff2'), url('fonts/butler/Butlerlight.woff') format('woff'), url('fonts/butler/Butlerlight.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: local('Butler UltraLight'), local('Butler-UltraLight'), url('fonts/butler/Butlerultralight.woff2') format('woff2'), url('fonts/butler/Butlerultralight.woff') format('woff'), url('fonts/butler/Butlerultralight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Butler';
    src: local('Butler Bold'), local('Butler-Bold'), url('fonts/butler/Butlerbold.woff2') format('woff2'), url('fonts/butler/Butlerbold.woff') format('woff'), url('fonts/butler/Butlerbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
